* {
  margin: 0;
  padding: 0;
}
main {
  display: grid;
  height: 100vh;
  place-items: center;
  font-family: 'Poppins', sans-serif;
}
h1 {
   font-size: 50px;
   color: #2e2f34;
   margin-bottom: .5rem;
   text-transform: capitalize;
}
h3, p {
  text-transform: capitalize;
}
.underline {
  width: 5rem;
  height: 0.25rem;
  background: aqua;
  margin-left: auto;
  margin-right: auto;
}
.menu-button {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 10px;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  /* font-weight: bold; */
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid aqua;
  background: aqua;
}
.menu-button:hover {
  background: #fff;
  color: aqua;
}
.items {
  margin: 2rem 5rem 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 32px;
}
img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  float: right;
}
.left_items {
  float: left;
  width: 50%;
  height: 200px;
  display: grid;
  /* place-items: center; */
}
.right_items {
  float: right;
  width: 50%;
  height: 200px;
}
.main_img {

}